
<div class="one">
    <div align="center">
    <br><br><br><br><br>
<form [formGroup] ="form" (ngSubmit)="func1()">
    <label class="two">Sign Up</label> 
    <div><br>
    <label>Username:</label>&nbsp;&nbsp;&nbsp;
    <input type="text" placeholder="enter username"
    formControlName="username1"/>
    </div>
    <div>
        <label>Enter email:</label>&nbsp;&nbsp;&nbsp; 
        <input type="text" placeholder="enter Password"
        formControlName="email"/>
     </div>

     <div>
        <label>Enter password:</label>
        <input type="text" placeholder="enter Password"
        formControlName="Password1"/>
     </div>
    

     <div>
        <label>re-enter password:</label> 
        <input type="text" placeholder="enter Password"
        formControlName="repass"/>
     </div>
     <br>
     <div>
         <button type="submit" class="btn btn-primary">
         Sign Up</button>&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="reset" class="btn btn-danger">Clear</button>   
     </div>
    </form>
</div>
<!-- <div class="one">
<table class="table table-striped table-hover">
<thead>
<tr>
    <th>username</th>
    <th>email</th>
    <th>Password</th>
    <th>re-Password</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let s of signup">
        <td>{{s.username1}}</td>
        <td>{{s.email}}</td>
        <td>{{s.password1}}</td>
        <td>{{s.repass}}</td>
    </tr>
</tbody> 
</table>
</div> -->
</div>
